


# ignore InfoSphere Streams directories and files
/.apt_generated/
/.settings/
/output/
/toolkit.xml
/.toolkitList
*_h.pm
*_cpp.pm
*.splmm.idx
*.splmm.xml
*.splbuild

# ignore GCC compiler and linker files
*.o
*.a
*.so

# ignore temporary emacs files
*~
